<!DOCTYPE html>
<html>
<head>
	<title>Assignment 2</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/assignment.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="wrap">
		<label for="string">Enter a string of length 8 consisting of only 0 and 1</label>
		<div class="content">
			<input type="text" class="form-control" id="val" >
			<button class="btn btn-success">Submit</button>
			<a href="/home">Home</a>
		</div>
		<p class="res">
		</p>
	</div>
	<script type="text/javascript" src="script/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="script/assignment.js"></script>
</body>
</html>