<!DOCTYPE html>
<html>
<head>
	<title>Student Management</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/detail.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Student Management System</h1>
	<button class="btn btn-success" id="details">View all students Details</button>
	<div class="search">
		<input type="text" class="form-control" id="usn" placeholder="USN">
		<button class="btn btn-success" id="individual">Search</button>
	</div>
	<div class="tableDiv">
	<table class="table table-striped">
		<tr class="heading">
			<th>Student Name</th>
			<th>Student USN</th>
			<th>Student Email</th>
			<th>Student Phone</th>
			<th>Student Sem</th>
			<th>Student Department</th>
			<th>Student Grade</th>
		</tr>
	</table>
	</div>
	<script type="text/javascript" src="script/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="script/detail.js"></script>
</body>

</html>