<!DOCTYPE html>
<html>
<head>
	<title>Student Management</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/home.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
	<a href="/server">Server Assignment</a> </br>
	<a href="/problem">Problem Assignment</a>
</body>
</html>